%article
  %h1
    = link_to camping.name, camping_path(camping)
  %ul.block-grid.four-up.mobile
    - camping.images.limit(4).each do |image|
      %li
        %a.th{:href => camping_path(camping)}
          = image_tag image.image.url(:thumb)
  .more
    = link_to "read more", camping_path(camping)
