- content_for :javascript_tags do
  = javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyC1GdwD4o0-PSz_5afcPM5_P_OsKZGf6Fg&sensor=true"

- content_for :javascript_body do
  $(document).ready(function() {                        |
    map.setup();                                        |
  });                                                   |

.row
  %h1.title
    = title
  #map_canvas.twelve.columns

#campings.row
  Please wait ....
