#authors
  #stretcher
  #content.row
    #fp-selector.four.columns.centered
      .large.button.dropdown{:href => "#"}
        Show me campings by
        %ul
          - @authors.each do |author|
            %li
              %a{:href => author_path(author)}
                =author.name
